<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Story Webpage</title>
</head>
<body>
    <h1><%= question %></h1>
    <% if (!storyNodes[currentNode].yesNode && !storyNodes[currentNode].noNode) { %>
        <p>The end.</p>
    <% } else { %>
        <form action="/answer/yes" method="get">
            <input type="submit" value="Yes" />
        </form>
        <form action="/answer/no" method="get">
            <input type="submit" value="No" />
        </form>
    <% } %>
</body>
</html>
