<!DOCTYPE html>
<html>
<head>
    <title>Selectors Form</title>

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Arial', sans-serif;
        color: #333;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
        min-height: 155vh;
        overflow-x: hidden; /* Prevents horizontal scrolling */
        overflow-y: auto; /* Allows vertical scrolling as needed */

        /* Animation for background color */
        animation: backgroundChange 50s linear infinite;
    }

    @keyframes backgroundChange {
        0%   {background: #FF9A8B;} /* reddish pink */
        10%  {background: #FFD382;} /* soft orange */
        20%  {background: #FFFF85;} /* light yellow */
        30%  {background: #C4FFD7;} /* mint */
        40%  {background: #8EE4FF;} /* sky blue */
        50%  {background: #C58BFF;} /* lavender */
        60%  {background: #EB76FF;} /* magenta */
        70%  {background: #FF76BC;} /* pink */
        80%  {background: #85FFC7;} /* aqua */
        90%  {background: #FF9B6A;} /* salmon */
        100% {background: #FF9A8B;} /* reddish pink */
    }

    h1 {
        font-family: 'Trebuchet MS', sans-serif;
        font-size: 2.5rem;
        color: #444;
        text-transform: uppercase;
        margin-bottom: 5px;
        text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
    }

    h2 {
        font-family: 'Trebuchet MS', sans-serif;
        font-size: 2.5rem;
        color: #444;
        text-transform: uppercase;
        margin-bottom: 5px;
        text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
    }

    .selector-container {
        margin: 20px auto;
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
        max-width: 400px;
        transition: transform 0.3s ease;
    }

    .selector-container:hover {
        transform: scale(1.05);
    }

    label {
        font-weight: bold;
        color: #555;
        display: block;
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
        margin-bottom: 5px;
    }

    select {
        width: calc(100% - 22px);
        padding: 10px;
        border: 3px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        font-size: 1rem;
        background-color: #fafafa;
        cursor: pointer;
        transition: border-color 0.3s ease;
        appearance: none; /* Removes default styling provided by the browser */
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    select:hover, select:focus {
        border-color: #88aaff;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }

    button:hover {
        background-color: #45a049;
        box-shadow: 0 0 15px 3px white;
    }

    .button-container {
        margin-top: 20px;
    }

    #loadingMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
}

.unclickable {
    pointer-events: none;
    opacity: 0.6; /* Optional: to give a visual cue that the button is not clickable */
}

    
</style>
        
</head>
<body>
    <h1>Customize Your Story</h1>
    <h2>Please Make Your Selections</h2>
    <form id="selectionsForm" action="/api/submit-form" method="post">
        <div class="selector-container">
            <label for="selector1"><strong>Option Count:</strong></label>
            <p>How many story options would you like?</p>
            <select id="selector1" name="selector1">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <div class="selector-container">
            <label for="selector2"><strong>Theme:</strong></label>
            <p>What theme would you like?</p>
            <select id="selector2" name="selector2">
                <option value="space">Space</option>
                <option value="modern">Modern</option>
                <option value="medieval">Medieval</option>
                <option value="fantasy">Fantasy</option>
            </select>
        </div>

        <div class="selector-container">
            <label for="selector3"><strong>Genre:</strong></label>
            <p>What genre would you like?</p>
            <select id="selector3" name="selector3">
                <option value="true crime">True Crime</option>
                <option value="action and adventure">Action and Adventure</option>
                <option value="mystery">Mystery</option>
                <option value="horror">Horror</option>
            </select>
        </div>

        <div class="selector-container">
            <label for="selector4"><strong>Length:</strong></label>
            <p>How long would you like your prompts?</p>
            <select id="selector4" name="selector4">
                <option value="short">Short</option>
                <option value="detailed">Detailed</option>
                <option value="extremely detailed">Extremely Detailed</option>
            </select>
        </div>

        <div class="button-container">
            <button id="submitButton" type="submit" onclick="submitForm()">Submit</button>
            <button id="randomizeButton" type="button" onclick="randomizeAndSubmit()">Randomize and Submit</button>
        </div>
    </form>

    <script type="text/javascript">

function disableButtonsAndShowLoading() {
    document.getElementById('submitButton').classList.add('unclickable');
    document.getElementById('randomizeButton').classList.add('unclickable');
    document.getElementById('loadingMessage').style.display = 'block'; // Show the loading message
}

        function getRandomOption(options) {
            const randomIndex = Math.floor(Math.random() * options.length);
            return options[randomIndex];
        }
    
        function randomizeAndSubmit() {
            const selectors = [
                { id: 1, options: ['2', '3', '4', '5'] },
                { id: 2, options: ['space', 'modern', 'medieval', 'fantasy'] },
                { id: 3, options: ['true crime', 'action and adventure', 'mystery', 'horror'] },
                { id: 4, options: ['short', 'detailed', 'extremely detailed'] }
            ];
    
            selectors.forEach(selector => {
                document.getElementById('selector' + selector.id).value = getRandomOption(selector.options);
            });
            document.getElementById('selectionsForm').submit();
            disableButtonsAndShowLoading()
        }

        function submitForm(){

            // do your JS code here

            // this line will trigger the submit and will send you to perform your code on the server
            document.getElementById("selectionsForm").submit();
            console.log("Form Submitted");
            redirect();
            disableButtonsAndShowLoading()
        }
        function redirect() {
            window.location.href = "http://localhost:3000/currentPrompt?";
        }
    </script>
    <div id="loadingMessage" style="display: none;">
        <p>Loading...</p>
    </div>
</body>
</html>